* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    var(--background-color-top),
    var(--background-color-bottom)
  );
  height: 100vh;
  font-family: sans-serif;
}

:root {
  --background-color-top: #daecf9;
  --background-color-bottom: #e0fde9;

  --color-primary: #2e8e99;
  --color-secondary: #3c936f;

  --color-dark: #333;
  --color-medium: rgb(140, 140, 140);
  --color-white: #fefefe;
}
